html,body{
    height: 100%;
    width: 100%;
    color: #222222;
}
.navbar{
    padding: 0.8rem;
}
.navbar-nav li{
    padding-right: 15px;
}
.nav-link{
    font-size: 1.1em !important;
}
.carousel-inner img{
    height: 100%;
    width: 100%;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size: 200%;
    text-transform:uppercase;
}
.carousel-caption h3{
    font-weight: 800;
}
.caption-1{
    color: #222222;
}
.smaller-caption{
    color: #222222;
}
.title{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.title hr{
    border-top: 2px solid grey;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
#slides{
    margin-bottom: 70px;
}
#second-paragraph{
    margin-bottom: 70px;
}     

.footer{
    background: grey;
    color: white;
    padding-top: 2rem;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}