html,body{
    height: 100%;
    width: 100%;
    color: #222222;
}
.navbar{
    padding: 0.8rem;
}
.navbar-nav li{
    padding-right: 15px;
}
.nav-link{
    font-size: 1.1em !important;
}
.carousel-inner img{
    height: 100%;
    width: 100%;
}
.title{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.title hr{
    border-top: 2px solid grey;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.sticky-footer{
    background: grey;
    color: white;
    padding-top: 2rem;
}